@font-face {
    font-family: sf-prodisplay-regular;
    src: url(sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: sf-prodisplay-medium;
    src: url(sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
    font-family: MADE Tommy Soft;
    src: url(MADETommySoftRegularPERSONALUSE.otf);
}

*{
    padding: 0px;
    margin: 0px;
}

.bgimg img{
    width: 100%;
    height: auto;
}

.logo{
    width: 200px;

}
.link{
    position: absolute;
    top: 0;
    z-index: 1;
    float: right;
    
}

.logo img{
    top: 0;
    position: absolute !important;
    width: 200px;
    margin-top: 20px;

} 

 .navbar{
    top: 0;
    z-index: 1;
    float: right;
}
.nav{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    position: absolute;
    top: 0;
}

.nav img{
    width: 200px; 
} 

.text{
    position: absolute;
    top: 100px;
}

.store img{
    width: 200px;
}

.btn{
    border-radius: 22px;
    color: white;
    background-color: #7E6C54;
    padding: 6px 8px;
    border-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn:hover{
    color: rgb(255, 255, 255);
}
 
.text h1{
    width: 782px;
    color: white;
}
.text p{
    width: 606px;
    color: white;
}

.c1 img {
    padding-top: 50px;
}

.aboutbgimg{
    background-image: url(./Images/ab-bg.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.txt{
    margin-top: 20px;
}

.txt h3{
    font-family: 'MADE Tommy Soft';
    width: 397px;
    height: 45px;
}

.txt p{
    font-family: 'MADE Tommy Soft';
    width: 404px;
    height: 330px;
}

.about{
    padding-left: 50px;
}

.ctn{
    padding-top: 150px;
}

.stext{
    font-family: sf-prodisplay-medium;
    color: #473D2F;
    padding-top: 150px;
}

.stext p{
    padding-top: 30px;
    padding-left: 27px;
}

.bg-img{
    background-image: url(./Images/export-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.essentials{
    position: relative;
    padding-left: 300px;
    padding-top: 50px;
    color: white;
    font-size: 48px;
    font-family: 'MADE Tommy Soft';
}

.etxt{
    position: absolute;
}

.etext1 img{
    width: 232px;
    height: 4px;
}

.etext1 p{
    width: 482px;
}

.eimg img{
    width: 1000px;
    height: 1000px;
    /* padding-bottom: 500px; */
}